html, body, * {
	font-family: Roboto, sans-serif;
}
.gig-duration::before {
	content: ' (';
}
.gig-duration::after {
	content: ')';
}
table.gig-schedule {
	width: 100%;
	padding-right: 2em;
	border-collapse: separate;
	border-spacing: 4px 0;
}
table.gig-schedule tbody tr td:first-child {
	border: none;
	width: 4em;
	text-align: right;
	background-color: white;
	font-size: smaller;
	font-weight: 300;
	padding: 0.5em 1em;
}
/*table.gig-schedule tbody tr:nth-child(odd) {
	background-color: rgba(127, 221, 233, 0.14);
}*/
table.gig-schedule tbody tr td {
	
	border-top: 1px solid rgba(0, 0, 0, 0.1);
}
td.j-start {
	border-top: 2px solid grey !important;
}
td.j-end {
	border-bottom: 2px solid grey !important;
}
td.j-shift {
	border-right: 2px solid grey;
	border-left: 2px solid grey;
}